<div class="min-h-screen bg-sky-50 dark:bg-gray-900">
  <header class="bg-white dark:bg-slate-900">
    <div
        class="sticky top-0 z-40 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
        >
        <div class="max-w-8xl mx-auto">
          <div
              class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0"
              >
              <div class="relative flex items-center">
                <a
                    class="mr-3 flex-none w-[2.0625rem] overflow-hidden md:w-auto"
                    href="/"
                    >
                <img src="logo.svg" alt="logo" class="min-w-20" />
                </a>
                <div class="font-semibold">
                    <h2 class="text-xl text-slate-900 dark:text-white leading-tight">
                      Bus line GIS home page
                    </h2>
                </div>
                <div class="relative hidden lg:flex items-center ml-auto">
                    <nav
                      class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200"
                      >
                      <ul class="flex space-x-8">
                          <li>
                            <a
                                class="hover:text-sky-500 dark:hover:text-sky-400"
                                href="/docs/installation"
                                >Docs</a
                                >
                          </li>
                      </ul>
                    </nav>
                    <div
                      class="flex items-center border-l border-slate-200 ml-6 pl-6 dark:border-slate-800"
                      >
                      <a
                          href="https://github.com/nguyenlehoanghuy/angular-busline-gis"
                          class="ml-6 block text-slate-400 hover:text-slate-500 dark:hover:text-slate-300"
                          >
                      <img src="github-icon.svg" alt="github" class="size-6" />
                      </a>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
  </header>
  <main>
    <app-map></app-map>
  </main>
</div>